.timeLine {
	list-style: none;
	margin: auto;
	padding-right: 24px;
	margin-top: 52px;
	border: solid 40px rgb(79, 201, 160);
	border-radius: 40px;
	width: 40%;
}

.tweet {
	margin: auto;
	padding: 12px;
	margin-top: 8px;
	width: 500px;
	height: 10%;
	background-color: #fff;
	border: 1px solid #ccc;
}
